<html>
    <body>
        <header><h1>Create New Character</h1></header>
        <form method="POST" enctype='multipart/form-data'>
            <p>
                Character name: <input type='text' name='char_name' required>
            </p>
            <p>
                Race: <br>
                <input type='radio' name='char_race' value='Dragonborn' required> Dragonborn <br>
                <input type='radio' name='char_race' value='Dwarf'> Dwarf <br>
                <input type='radio' name='char_race' value='Elf'> Elf <br>
                <input type='radio' name='char_race' value='Gnome'> Gnome <br>
                <input type='radio' name='char_race' value='Half-Elf'> Half-Elf <br>
                <input type='radio' name='char_race' value='Half-Orc'> Half-Orc <br>
                <input type='radio' name='char_race' value='Halfling'> Halfling <br>
                <input type='radio' name='char_race' value='Human'> Human <br>
                <input type='radio' name='char_race' value='Tiefling'> Tiefling <br>
            </p>
            <p>
                Class: <br>
                <input type='radio' name='char_class' value='Barbarian' required> Barbarian <br>
                <input type='radio' name='char_class' value='Bard'> Bard <br>
                <input type='radio' name='char_class' value='Cleric'> Cleric <br>
                <input type='radio' name='char_class' value='Druid'> Druid <br>
                <input type='radio' name='char_class' value='Fighter'> Fighter <br>
                <input type='radio' name='char_class' value='Monk'> Monk <br>
                <input type='radio' name='char_class' value='Paladin'> Paladin <br>
                <input type='radio' name='char_class' value='Ranger'> Ranger <br>
                <input type='radio' name='char_class' value='Rogue'> Rogue <br>
                <input type='radio' name='char_class' value='Sorcerer'> Sorcerer <br>
                <input type='radio' name='char_class' value='Warlock'> Warlock <br>
                <input type='radio' name='char_class' value='Wizard'> Wizard <br>
            </p>
            <h3>Stats</h3>
            <p>
                Level: <input type='text' name='char_level'>
            </p>
            <p>
                Max hp: <input type='text' name='char_maxhp'>
            </p>
            <p>
                Armor class: <input type='text' name='char_ac'>
            </p>
            <p>
                Initiative: <input type='text' name='char_initiative'>
            </p>
            <p>
                Speed: <input type='text' name='char_speed'>
            </p>
            <p>
                Strength: <input type='text' name='char_strength'>
            </p>
            <p>
                Dexterity: <input type='text' name='char_dexterity'>
            </p>
            <p>
                Constitution: <input type='text' name='char_constitution'>
            </p>
            <p>
                Intelligence: <input type='text' name='char_intelligence'>
            </p>
            <p>
                Wisdom: <input type='text' name='char_wisdom'>
            </p>
            <p>
                Charisma: <input type='text' name='char_charisma'>
            </p>
            <p>
                Character photo: <input type='file' name='char_photo' accept='image/*'>
            </p>
            <input type='submit' value='Create character'>

        </form>
        <a href={{ url_for('homepage') }}> 
            <input type='submit' value='Cancel'>
        </a>
    </body>
</html>