<html>
<head>
    <title>Characters</title>
    <link href={{ url_for('static', filename='css/characters.css') }} rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css?family=Germania+One|Titillium+Web|Noto+Serif" rel="stylesheet">
</head>
<body>
    <header><h1>Characters</h1></header>
    <div class='add_char'>
        <a href='/add_adventurer'>Add a new adventurer</a>
    </div>
    <div class='all_images'>
        {% for character in characters %}
        <div class='char_img_wrap'>
            {% if character.image_path %} <!-- Evaluate to true if an image path exists -->
                <a href="{{ url_for('character_page', char_name=character.name) }}"><img src="{{ url_for('static', filename='character_pics/'+character.image_path) }}" class='char_img'></a>
            {% else %}
                <a href="{{ url_for('character_page', char_name=character.name) }}"><img src="{{ url_for('static', filename='character_pics/default.jpg') }}" class='char_img'></a>
            {% endif %}
                <a href="{{ url_for('character_page', char_name=character.name) }}"><p class='img_overlay'>{{character.name}}</p></a>
        </div>
        {% endfor %}
    </div>
</body>
</html>