<html>
<head>
    <title>{{character.name}}</title>
</head>
<body>
    <header><h1>{{character.name}}</h1></header>
    <form method='post'>
            <p>Class: <input type='text' value={{character.char_class}} name='new_class'></p>
            <p>Race: <input type='text' value={{character.char_race}} name='new_race'></p>
            <p>Level: <input type='text' value={{character.level}} name='new_level'></p>
            <p>Max HP: <input type='text' value={{character.maxhp}} name='new_hp'></p>
            <p>Strength: <input type='text' value={{character.strength}} name='new_strength'></p>
            <p>Dexterity: <input type='text' value={{character.dexterity}} name='new_dexterity'></p>
            <p>Constitution: <input type='text' value={{character.constitution}} name='new_constitution'></p>
            <p>Intelligence: <input type='text' value={{character.intelligence}} name='new_intelligence'></p>
            <p>Wisdom: <input type='text' value={{character.wisdom}} name='new_wisdom'></p>
            <p>Charisma: <input type='text' value={{character.charisma}} name='new_charisma'></p>
            <input type='submit' value='Update stats'>
        </form>
</body>
</html>