<html>
<head>
    <title>{{character.name}}</title>
    <link rel='stylesheet' href={{ url_for('static', filename='css/edit_char.css') }}>
</head>
<body>
    <header><h1>{{character.name}}</h1></header>
    <form method='post'>
        <h3>Stats</h3>
        <table>
            <tr>
                <td>Level</td>
                <td><input type='text' value={{character.level}} name='new_level'></td>
            </tr>
            <tr>
                <td>Max HP</td>
                <td><input type='text' value={{character.maxhp}} name='new_hp'></td>
            </tr>
            <tr>
                <td>Strength</td>
                <td><input type='text' value={{character.strength}} name='new_strength'></td>
            </tr>
            <tr>
                <td>Dexterity</td>
                <td><input type='text' value={{character.dexterity}} name='new_dexterity'></td>
            </tr>
            <tr>
                <td>Constitution</td>
                <td><input type='text' value={{character.constitution}} name='new_constitution'></td>
            </tr>
            <tr>
                <td>Intelligence</td>
                <td><input type='text' value={{character.intelligence}} name='new_intelligence'></td>
            </tr>
            <tr>
                <td>Wisdom</td>
                <td><input type='text' value={{character.wisdom}} name='new_wisdom'></td>
            </tr>
            <tr>
                <td>Charisma</td>
                <td><input type='text' value={{character.charisma}} name='new_charisma'></td>
            </tr>
        </table>
        <br>
        <h3>Equipment</h3>
            <table>
                <tbody id='equip_table'>
                    <tr>
                        <th>Item</th>
                        <th>Description</th>
                        <th></th>
                    </tr>
                    {% for item in all_equipment %}
                    <tr>
                        <td><input type='text' name='item_name' value="{{item.name}}"></td>
                        <td><textarea name='item_desc'>{{item.description}}</textarea></td>
                        <td><button type='button' onclick='deleteRow(event)'>Delete</button></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <button type='button' id='add_equip_button'>Add another item</button>
        <br>
        <h3>Spells</h3>
            <table>
                <tbody id='spells_table'>
                    <tr>
                        <th>Spell Name</th>
                        <th></th>
                    </tr>
                    {% for spell in all_spells %}
                    <tr>
                        <td><input type='text' name='spell_name' value="{{spell.name}}"></td>
                        <td><button type='button' onclick='deleteRow(event)'>Delete</button></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <button type='button' id='add_spell_button'>Add another spell</button>
        <br>
        <h3>Features</h3>
            <table>
                <tbody id='features_table'>
                    <tr>
                        <th>Feature</th>
                        <th>Description</th>
                        <th></th>
                    </tr>
                    {% for feature in all_features %}
                    <tr>
                        <td><input type='text' name='feature_name' value="{{feature.name}}"></td>
                        <td><textarea name='feature_desc'>{{feature.description}}</textarea></td>
                        <td><button type='button' onclick='deleteRow(event)'>Delete</button></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <button type='button' id='add_feature_button'>Add another feature</button>
            <br>
        <input type='submit' value='Update character'>
    </form>
    <script src={{ url_for('static', filename='javascript/add_character_funcs.js') }}></script>
</body>
</html>