<!DOCTYPE html>
<html>
<head>
    <title>Homepage</title>
    <link rel='stylesheet' href="{{ url_for('static', filename='css/homepage.css') }}">
</head>
<body>
    <header>
        <h1>The Quest for Ale and Cheese Danishes</h1>
    </header>
    <nav>
        <ul>
            <li><a href='#'>Session Summaries</a></li>
            <li><a href='/characters'>Characters</a></li>
            <li><a href='#'>Campaign Documents</li></a>
        </ul>
    </nav>
    <section>
        <p>A dwarf, half-elf, wood elf, dragonborn, and tiefling walk into a bar...</p>
    </section>
</body>
</html>