<html>
<body>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        {% endif %}
    {% endwith %}
    <form method='POST'>
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}
            {{ form.username }}
        </p>
        <p>
            {{ form.password.label}}
            {{ form.password }}
        </p>
        <p>
            {{ form.remember.label }}
            {{ form.remember }}
        </p>
        <p>
            {{ form.submit.label }}
            {{ form.submit }}
        </p>
    </form>
</body>
</html>