body{
    background-color: #30303380;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    padding: 0;
    width: 90%
}

header{
    text-align:center;
    border-style: solid;
    border-width: 3px;
    border-color: black;
    font-family: 'Germania One', cursive;
    font-size: 1.6em;
}

.add_char{
    text-align: center;
    font-family: 'Titillium Web';
    text-decoration: none;
    margin: 15px auto;
}

.add_char a{
    font-size: 1.3em;
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 2px 5px;
}

.add_char a:hover{
    background-color: rgba(223, 208, 208, 0.925);
    color: black;
}

.all_images {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.char_img_wrap{
    flex-basis: 32%;
    position: relative;
}

.char_img_wrap .char_img{
    max-height: 100%;
    max-width: 100%;
    height: auto;
    width: auto;
    border-radius: 10px;
    opacity: 1;
    transition: opacity .2s;
}

.char_img_wrap .img_overlay{
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* This translates the element position by a % of itself */
    visibility: hidden;
    font-family: 'Noto Serif';
    color: white;
    font-size: 2em;
    opacity: 0;
    transition: opacity .2s, visibility .2s;
    text-align: center;
}

.char_img_wrap:hover .img_overlay{
    visibility: visible;
    opacity: 1;
}

.char_img_wrap:hover .char_img{
    opacity: .3;
}

.fill_final_line {

}