body{
    background-color: #30303380;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    width: 90%
}

header{
    text-align:center;
    border-style: solid;
    border-width: 3px;
    border-bottom-width: 0;
    border-color: black;
    padding: 1px;
    font-family: 'Germania One', cursive;
    font-size: 1.4em;
}

nav{
    display: flex;
    background-color: rgb(16, 48, 23);
    width: 100%;
    font-family: 'Titillium Web';
}

.dropdown{
    flex: 1;
    display: flex;
}

.dropdown > a{
    text-decoration: none;
    text-align: center;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
}

li {
    position: relative;
    text-align: center;
}

.dropdown-button{
    font-size: 1.2em;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    flex: 1;
    width: 100%;
}

.dropdown-button:hover{
    background-color: rgba(223, 208, 208, 0.925);
    color: black;
}


.dropdown-content{
    display: none;
    position: absolute;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: 100%;
}

.dropdown-content a{
    float: none;
    display: block;
    color: black;
    text-decoration: none;
    padding: 14px 16px;
}

.dropdown-content a:hover{
    background-color: rgba(223, 208, 208, 0.925);
    color: black;
    border-radius: inherit;
}

.dropdown:hover .dropdown-content{
    display: block;
}

section{
    margin-top:50px;
    border: 2px solid #222;
    text-align: center;
    font-style: italic;
    border-radius: 8px;
}